<!DOCTYPE html>
<html>
<head>
    <title>Captcha Display</title>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" href="../static/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/themify-icons//themify-icons.css') }}">
</head>
<body>
    <div class="main-app">
        <h1>Select a Captcha Type:</h1>
        <div class="radio_p">
            <input type="radio" name="captchaType" value="image" checked>
            <p>Image Captcha</p>
        </div>
        <div class="radio_p">
            <input type="radio" name="captchaType" value="audio">
            <p>Audio Captcha</p>
        </div>
        <h1>Check captcha:</h1>

        <div class="captchaContainer" >
            <div class="main-captchaContainer">
                <input type="checkbox">
                <svg class="spinner" viewBox="0 0 50 50">
                  <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                </svg>
                <p style="margin-left:.4rem">I am a human</p>

                <div class="captchaPopup">
                    <div class="main-captchaPopup">
                        <button class="closeCaptcha"> <i class="ti-close" style="font-size:1.4rem"></i> </button>
                        <p>Captcha:</p>
                        <div class="captchaDisplay">
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-bottom:0.5rem;">
                            <button class="reloadCaptcha"> <i class="ti-reload"></i> </button>
                            <input type="text" class="captchaInput" placeholder="Enter captcha">
                            <button type="submit"> Submit </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
<!--    <script src="../static/script.js"></script>-->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
